<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 10px;
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        }

    </style>
</head>
<body>

<%- include partials/nav.ejs %>
<div class="container">
    <div class="jumbotron">
        <h3 class="display-1"><span class="glyphicon glyphicon-bullhorn"></span> Nodenerd by Thats Enam </h3>
        <p class="alert alert-success left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias cumque
            dolorem, exercitationem fugit
            maiores possimus saepe sequi vel. Alias aut autem consequuntur debitis deleniti deserunt dolor ea eum ex
            illum ipsam ipsum magnam mollitia nihil nisi nulla officiis placeat, quia quidem reprehenderit sed similique
            sit totam ullam ut vel.</p>
        <button class="btn btn-primary pull-right"><span class="glyphicon glyphicon-bell"></span> More Article <span
                class="badge badge-light">4</span></button>

    </div>
</div>

</body>
</html>