
<style>
    .nav{
        margin: 20px;
    }

</style>
<div class="nav">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a  class="btn btn-secondary" href="/">Home</a>
        <a  class="btn btn-secondary" href="/register">Register</a>
        <a  class="btn btn-secondary" href="/login"> Login</a>

    </div>
    <a type="button" class="btn btn-secondary pull-right" href="/logout"> Logout</a>
</div>